nav{
    list-style: none;
    background-color: #3db68e;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 0;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-top: 22px;
}
.menu li a{
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 15px;
      transition:background .4s;
}
.menu li a:hover{
     background-color: #BF60Af;
}
.logo{
    width: 7%;
    position: absolute;
    left: 1154px;
}
.banner{
    display: flex;
}
.banner img{
    width: 70%;
    position: absolute;
    left: 184px;
    margin-top: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #3bfff2;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
img{
    width: 10%;
    display: flex;
}
.grid-item2{

}
.grid-item3{

}