<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/contato.css">
    <title>PRATAS</title>
</head>
<nav class="menu">
    <img class="logo" src="../assets/logoo-joia.png">
 <ul>
     <li> 
         <a href="./index.html">INICIO</a>
     </li>
     
     <li> 
         <a href="./produtos.html">PRODUTOS</a>
     </li>
     <li> 
       <a href="./contato.html"> CONTATO </a>
   </li>
 </ul>
</nav>
<body>
   <div>
    <form>
    <h1> Quer receber as novidades??</h1><br>
        <button>Clique aqui</button><br>
    <p>Digite e-mail:</p>
    <input type="email" placeholder="@gmail.com">
    <p>Digite seu numero de telefone:</p>
    <input type="tel" placeholder="(11) 91223-1234"><br>
    <button class="enviar">Enviar</button>
    </form>
   </div>
</body>
</html>